* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.login-box {
    background: rgba(255,255,255,0.12);
    padding: 30px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    backdrop-filter: blur(12px);
}

.login-box h1 {
    margin-bottom: 10px;
}

.login-box p {
    opacity: 0.8;
    margin-bottom: 20px;
}

input, button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
}

button {
    background: #00c3ff;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #00ff99;
}
